table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: gold;
  }

td, th {
    border: 1px solid #690;
    text-align: left;
    padding: 10px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }